@{
    ViewData["Title"] = "Sobre nós";
}

<div class="container">
    <div class="mt-4 ml-2">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="mt-4">
        <p>O 2Do é um Gerenciador de Tarefas que visa auxiliar o usuário no seu dia a dia, fornecendo uma interface intuitiva e fácil de usar.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <img src="../img/memphis-computer-monitor-clock-and-folder-in-the-office.png" alt="ilustração com itens de escritório e um relógio"width="300" height="300" class="rounded" />
    </div>
</div>