@model TarefaViewData

<h1>Lista de Tarefas Concluídas <img src="~/img/verificar.png" height="30" width="30" class="rounded mb-1"/></h1>


@foreach (var tarefa in Model.Done)
{
    <ul class="list-group border-2 offset-6">
        <li class="list-group-item">@tarefa.Nome    (@tarefa.DataRegistro)</li>

    </ul>



}