@model TarefaViewData;

<h1>Lista de Tarefas em Andamento <img src="../../img/carregando.png" height="30" width="30" class="rounded mb-1" /></h1>



@foreach (var tarefa in Model.Doing)
{
    <ul class="list-group border-2 offset-6">
        <li class="list-group-item">@tarefa.Nome  |  Prioridade: @tarefa.Prioridade</li>

    </ul>



}